{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content_left %}{% endblock %}

{% block content_right %}
    <div class="main">
        <p class="text-danger">Histórico de mensagens não disponível.</p>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/logs/index.css')}}">
{% endblock %}

{% block js %}
    <script>
        _datatableSoExcel('data_table', 0, 'desc', 'Relação de log automações', 10)
    </script>
{% endblock %}
