.main{
    width: 100%;
    height: 100%;
    /* border: solid 1px red; */
    padding: 2rem;
    overflow-y: auto;
}

.div-server-info{
    padding: 1rem;
    background-color: rgba(255, 255, 255, .4);
}

.div-others-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0 0 0;
    padding: 0 1.5rem;
    background-color: rgba(255, 255, 255, .4);
}

.div-others{
    font-size: .9rem;
    overflow-y: auto;
}

.linha-server{
    margin: .5rem 0;
}

.progress-conection-test{
    width: 2rem;
    text-align: center;
}

.btn-go{
    outline: none;
    border: none;
    background-color: white;
    /* color: rgb(0, 0, 100); */
    /* color: rgba(0, 0, 0, .4); */
}