{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content_left %}
    {% if (erroAuth is defined and erroAuth != None) %}
        <p class="text-danger" style="width: 100%; text-align: justify; padding: 0 1rem;">
            <strong>Não foi possível autenticação por Ldap.</strong>
            <br>
            Verifique usuário e senha, ou realize acesso informando o código recebido por e-mail.
        </p>
    {% endif %}

    {% if (loginOTP is defined and loginOTP==True)%}
        <div class="frame-user">
            <p class="p-label">Código recebido por e-mail:</p>
            <form class="form-login" action="/dologinOTP" method="post">
                <div class="form-field d-none">
                    <span class="input-group-text login-icon">
                        <i class="fa-solid fa-user"></i>
                    </span>
                    <input class="login-field" type="text" name="user_otp" id="user_otp" value="{{ user }}" required readonly />
                </div>
                <div class="form-field">
                    <span class="input-group-text login-icon">
                        <i class="fa-solid fa-key"></i>
                    </span>
                    <input class="login-field" type="text" name="password_otp" id="password_otp" required />
                </div>
                <div class="form-field" style="margin-top: 1rem;">
                    <input class='btn-submit_otp' type="submit" value="Informar" />
                </div>
            </form>
            {# <form class="form-login" action="/api/dologin" method="post"> #}
            {# <div><button onclick="doLogin(event)">Entrar</button></div> #}
        </div>
    {% endif %}
{% endblock %}

{% block content_right %}
    <div class="r-side">
        <div class='cef-background'></div>
        <div class="main">
            <h3>Servidor de Automação CEPAT</h3>
            <h4>Versão 1.0</h4>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index/index.css')}}">
{% endblock %}

{% block js %}
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
    <script>
        function ok(){
            alert('Deu tudo certo!')
        }
        function fail(){
            alert('Deu tudo errado!')
        }

        function doLogin(event){
            event.preventDefault()
            user = document.getElementById('user').value
            password = document.getElementById('password').value
            
            data = {user:user,password:password}

            makeAjax('/api/dologin','POST',data=data,ok,fail)
        }    
    </script>
{% endblock %}

{# <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEPAT - Servidor de Macros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-info">Servidor de Macros - CEPAT</h1>
    <p>Teste de hot reload</p>
    <p>Tudo dando certo!</p>
    <p class="text-primary">Continua tudo ok!</p>
    <p>Ainda tem hot reload?</p>
    <p>Diz que sim!</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html> #}