{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content_left %}
{% endblock %}

{% block content_right %}
    <div class="content">
        <h5>Arquivo:</h5>
        <p>{{filepath}}</p>
        <hr>
        <div>{{ info|safe }}</div>
        <h5>Teste de Execução:</h5>
        <div class="frame-request">
            <form method="{{infoRequest['metodo']}}" action="{{infoRequest['rotaApi']}}" id="form-request">
                <div class="form-request">
                    {% for param in infoRequest['params']%}
                        <div>{{param}}:</div>
                        <div><input type="{{ (param == 'password' ? 'password' : 'text')}}" name="{{param}}"/></div>
                        {# <div><input type="text" name="{{param}}"/></div> #}
                    {%endfor%}
                    <div></div>
                    <div class="div-btn-request">
                        <button type="submit" class="btn btn-success">
                            Consultar
                        </button>
                        <div id="spinner-request" class="spinner-border text-info d-none" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </form>
            <div id="frame-retorno" class="frame-retorno my-3"></div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/webMacroApi/index.css')}}">
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function() {
            $("#form-request").submit(function(event) {
                event.preventDefault();

                $('#spinner-request').removeClass('d-none')

                var formData = {};

                $(this).serializeArray().forEach(function(item){
                    formData[item.name] = item.value;
                });

                const data = formData;
                {# const data = JSON.stringify(formData); #}

                console.log(data)

                $('#frame-retorno').html("")

                $.ajax({
                    method: $("#form-request").attr("method"),
                    url: $("#form-request").attr("action"),
                    data: data,
                    {# data: {parametros: data}, #}
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        console.log(response);
                        $('#frame-retorno').html(JSON.stringify(response))
                        $('#spinner-request').addClass('d-none')
                    },
                    error: function(error) {
                        $('#frame-retorno').html(`<p class='text-danger'>Erro na requisição: ", ${error.responseText}</p>`)
                        $('#spinner-request').addClass('d-none')
                        console.error("Erro ao enviar AJAX: ", error);
                    }
                });
            });
        });
    </script>

{% endblock %}
