<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='assets/img/cef-icon.ico')}}">
    <title>Servidor de Automação - CEPAT</title>
        <link rel="stylesheet" href="{{url_for('static', filename='app/bootstrap/bootstrap.min.css')}}">

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/jquery.dataTables.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/datatable-buttons.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/smoothness-ajax.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/sweetalert.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/datatable.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='app/css/bootstrap-4.css')}}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='app/fontawesome-free-6.4.0-web/css/all.min.css') }}">

        <link rel="stylesheet" href="{{url_for('static', filename='css/emulador/index.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/emulador/progress.css')}}">
</head>
<body style="height: 95vh; padding: 1rem 0 0 0;">
    <div id="content" class="app-template-content" style="margin: 0; padding:0; height: 100%">
        <div class="container">
            <div class='barra-ferramentas'>
                <div>
                    <label for="iniciar-macro" style="margin: .5rem 0;">Iniciar Macro:
                        <input type="text" value="{{ macro }}" disabled />
                    </label>
                </div>
                <div class="botoes">
                    <button id="btn-info" onclick="showMacroInfo()" title="Informações da automação"><i class="fa-solid fa-circle-info text-primary"></i></button>
                    <button id="btn-link-externo" class="d-none" onclick="linkexterno()" title="Link externo" disabled><i class="fa-solid fa-link text-dark"></i></button>
                    <button id="btn-play" onclick="playMacro()" title="Iniciar execução"><i class="fa-solid fa-play text-success"></i></button>
                    <button id="btn-pause" onclick="pauseMacro()" disabled title="Pausar execução"><i class="fa-solid fa-pause text-dark"></i></button>
                    <button id="btn-stop" onclick="stopMacro()" disabled title="Interromper execução"><i class="fa-solid fa-stop text-danger"></i></button>
                    <button id="btn-reqInfo" onclick="showPropriedades()" title="Propriedades" disabled><i class="fa-brands fa-product-hunt text-info"></i></button>
                    <button id="btn-erase" onclick="limpaTela()" title="'Limpa tela"><i class="fa-solid fa-eraser"></i></button>
                </div>

                <div>
                    <input type="text" id="txtUser" value="{{user}}" class="txtReqId" disabled/>
                </div>

                <div>
                    <input type="text" id="txtReqId" value="" class="txtReqId d-none" disabled/>
                </div>

                <div id="spinner-status" class="d-none">
                    <div id="sipnner-cursor" class="spinner-grow text-success progress-size" role="status">
                        <span class="sr-only progress-size">Loading...</span>
                    </div>
                </div>
                <input type="hidden" id="dominio" value='{{ dominio }}' />
                <input type="hidden" id="currentMacroName" value="{{ macro }}"/>
                <input type="hidden" id="currentStatus" />
                <input type="hidden" id="lastMessageIndex" value="-1" />
            </div>

            <div class="screen">
                <div id="frameInfo" class="frameInfo">
                    <div class="frame-info-div-close">
                        <button class="btn btn-light" id="closeInfo" onclick="hideMacroInfo()"><i class="fa-regular fa-rectangle-xmark"></i></button>
                    </div>
                    <div id="frame-info-div-content" class="frame-info-div-content">
                        Teste de conteúdo
                    </div>
                </div>
                <div id="framePropriedades" class="frameInfo">
                    <div class="frame-info-div-close">
                        <button class="btn btn-light" id="closeInfo" onclick="hidePropriedades()"><i class="fa-regular fa-rectangle-xmark"></i></button>
                    </div>
                    <div id="frame-historico-div-content" class="frame-info-div-content">
                        <div id='frame-propriedades'>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Propriedade</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Status:</td>
                                        <td id="prop-status"></td>
                                    </tr>
                                    <tr>
                                        <td>ID:</td>
                                        <td id="prop-id"></td>
                                    </tr>
                                    <tr>
                                        <td>Nome Automação:</td>
                                        <td id="prop-Nome"></td>
                                    </tr>
                                    <tr>
                                        <td>Proprietário:</td>
                                        <td id="prop-proprietario"></td>
                                    </tr>
                                    <tr>
                                        <td>Hora Início:</td>
                                        <td id="prop-inicio"></td>
                                    </tr>
                                    <tr>
                                        <td>Último usuário:</td>
                                        <td id="prop-last-user"></td>
                                    </tr>
                                    <tr>
                                        <td>Está Pausada:</td>
                                        <td id="prop-pausada"></td>
                                    </tr>
                                    <tr>
                                        <td>Pedido de Cancelamento:</td>
                                        <td id="prop-cancelamento"></td>
                                    </tr>
                                    <tr>
                                        <td>Índice da última mensagem:</td>
                                        <td id="prop-iUltimaMsg"></td>
                                    </tr>
                                    <tr>
                                        <td>Esperando resposta de input:</td>
                                        <td id="prop-input"></td>
                                    </tr>
                                    <tr>
                                        <td>Esperando resposta de password:</td>
                                        <td id="prop-password"></td>
                                    </tr>
                                    <tr>
                                        <td>Esperando resposta de select:</td>
                                        <td id="prop-select"></td>
                                    </tr>
                                    <tr>
                                        <td>Esperando resposta de Excel:</td>
                                        <td id="prop-excel"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div id="telaEmulador" class="emulador"></div>
            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='app/js/jQuery/jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='app/js/jQuery/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='app/js/bootstrap/bootstrap.min.js')}}"></script>

    <script src="{{url_for('static', filename='app/js/cdn-datatable/jquery.dataTables.min.js')}}"></script>
    <script src="{{url_for('static', filename='app/js/cdn-datatable/dataTables-buttons.js') }}"></script>
    <script src="{{url_for('static', filename='app/js/cdn-datatable/jszip.js') }}"></script>
    <script src="{{url_for('static', filename='app/js/cdn-datatable/pdfmake.js') }}"></script>
    <script src="{{url_for('static', filename='app/js/cdn-datatable/vfs-fonts.js') }}"></script>
    <script src="{{url_for('static', filename='app/js/cdn-datatable/buttons-html5.js') }}"></script>
    <script src="{{url_for('static', filename='app/js/formata-datatable.js') }}"></script>
    <script src="{{url_for('static', filename='js/emulador/index.js')}}"></script>
</body>
</html>

{# <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEPAT - Servidor de Macros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-info">Servidor de Macros - CEPAT</h1>
    <p>Teste de hot reload</p>
    <p>Tudo dando certo!</p>
    <p class="text-primary">Continua tudo ok!</p>
    <p>Ainda tem hot reload?</p>
    <p>Diz que sim!</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html> #}