.content{
    padding: 1rem;
    background-color: rgba(255, 255, 255, .8);
}

span{
    font-size: .8rem;
}

.frame-request{
    width: 100%;
    /* border: solid 2px rgba(0, 0, 0, .2); */
    padding: 1rem;
    background-color: rgba(255, 255, 255, .5);
}

.frame-retorno{
    width: 100%;
    border: solid 2px rgba(0, 0, 0, .05);
    padding: 1rem;
}

.form-request{
    width: 40%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 5px;
}

.form-request input{
    width: 100%;
}

/* .div-submit{
    margin: 1rem 0;
    width: 40%;
    display: flex;
    justify-content: center;
} */

.div-btn-request{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.div-btn-request button{
    width: 80%;
}