
.r-side{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: justify;
    align-items: flex-start;
    padding: 1rem;
}

.cef-background{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
    opacity: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('/static/app/assets/img/cef_background.png');
    margin: auto;
}

.main{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    opacity: 100%;
}

