{% extends "base.html.jinja" %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1 class="text-danger">A macro foi finalizada com erro!</h1>
    <p>Descrição do erro:</p>
    <p>{{ erroDesc }}</p>
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block js %}
    
{% endblock %}